*{
	margin: 0;
	/*overflow: hidden;*/
	font-family: Helvetica, Ariel, sans-serif;
	line-height: 1.6em;
	box-sizing: border-box;
	overflow-x: none;
}
body{
	background-color: #333/*#696969*/;
}
header{
	background-color: red;
	color: white;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#nav_id{
	background-color: black;
	height: 80px;
	width: 100%;
	list-style: none;
	padding: 0;
}
#nav_id ul{
	float: right;
	margin-right: 20px;

}
#nav_id li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
#nav_id a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	padding: 7px 13px;
	border-radius: 3px;
}

.position{
	position: fixed;
	width: 100%;
	z-index: 100;
	/*margin-top: 70px;*/
	top: 70px;
}

/*#nav_id li:hover {
	background-color: red;
} navigation bar hover*/
h1{
	margin-top: 20px;
	color: #fff;
	text-align: center;
}
img{
	/*display: ;*/
	/*margin-left: 200px;*/
	margin: 20px 0 auto;
	/*margin-right: auto;*/
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
}

.container1{
	border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
h3{
	text-align: center;
	color: #fff;
	padding: 10px;
	background-color: black;
}

p{
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 0px;
	color: #fff;
}

.list{
	list-style: none;
	padding: 0;
	padding: 10px;
	display: inline-block;
	margin-top: 20px;
}
.list a{
	text-decoration: none;
	color: white;
	border-style: solid;
	border-radius: 2px;
	border-color: black;
	padding: 10px;
}
.list a:hover{
	color: red;
}

footer{
	margin-top: 20px;
	background-color: rgb(0,0,0);
	padding: 20px;
	color: #fff;
	text-align: center;
}
.container1{
	margin-top: 20px;
	border: 2px black solid;
	border-radius: 8px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.margin-top{
	margin-top: 80px;
}

@media screen and (min-width: 801px){
	.margin-top{
		margin-top: 135px;
	}
}


a:link{
	text-decoration: none;
}

a:hover{
	color: red;
}
.toggle-btn1{
	padding:0px 30px 0;
	cursor: pointer;
	border: 0;
	outline: none;
	position: relative;
	color: white;
	font-size: 20px;
	background-color: black;
	border-radius: 5px;
	width: 50%;
	height: 45px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	border-top-right-radius: 0%;
}
.toggle-btn2{
	/*padding:5px 0 30px;*/
	background: transparent;
	cursor: pointer;
	border: 0;
	border-bottom: 2px solid black;
	outline: none;
	position: relative;
	color: white;
	font-size: 20px;
	border-radius: 5px;
	width: 50%;
	height: 45px;

}
p{
	padding: 10px;
	text-align: center;
}

hr{
	color: black;
	border: 1px solid;
}
.ongoing{
	padding: 10px;
	color: white;
	cursor: pointer;
}
.ongoingContainer1{
	margin-top: 20px;
	border: 2px black solid;
	border-radius: 8px;
	width: 80%;
	padding-bottom: 10px;
}

@media  screen and (max-width: 992px) {
	.ongoingContainer1{
		display: none;
	}	
}

.next{
	display: block;
	/*width: 90%;*/
	/*width: 150px;*/
	height: 50px;
	color: #fff;
	background-color: red;
	border: 0;
	border-radius: 4px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	outline: none;
	/*transition: all .5s;*/
}

@media screen and (max-width: 1440px){
	.next{
		width: 811px;
	}
}

@media screen and (max-width: 1212px){
	.next{
		width: 607px;
	}
}

@media screen and (max-width: 991px){
	.next{
		width: 811px;
	}
}

@media screen and (max-width: 906px){
	.next{
		width: 607px;
	}
}

@media screen and (max-width: 679px){
	.next{
		width: 401px;
	}
}

@media screen and (max-width: 453px){
	.next{
		width: 201px;
	}
}

.next:hover{
	background-color: #b30000;
}

.ongoing{
	text-decoration: none;
}
/*responsive navigation bar*/
*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #000;
  text-align: right;
  height: 50px;
  
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: red;
}
li{
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input{
  float: left;
  margin-left: 20px;
  padding: 3px;
  margin-top: 7px;
  /* margin-bottom: 5px; */
  outline: none;
  width: 30%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
@media screen and (max-width: 800px){
  li{
    display: none;
}
  input{
    width: 50%;
  }
  nav{
  	position: absolute;
  	width: 100%;/*I added this because of absolute position of nav_bars*/
  }
  .container1{
  	margin-top: 70px;
  }
}
.search-button{
  float: left;
  width: 60px;
  height: 35px;
  display: flex;
  padding: 5px;
  margin-top: 7px;
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
}
.search-button:hover{
  background-color: darkred;
}
i{
  color: white; 
  margin: 10px;
  padding-right: 15px;
}
i:hover{
  color: red;
  cursor: pointer;
}
@media screen and (max-width:800px){
  #nav_bars{
    display: block !important;
    position: absolute;
    right: 0;
}
  #box{
    background-color: black;
    height: 0;
    display: none;
    margin-top: 50px;/*I added this because of absolute position of nav_bars*/
  }
  #box li{
    text-align: center;
    display: block;
    color: white;
  }
}
#nav_bars{
  display: none;
  margin-top: 15px;
}
.box_open{
	padding-top: 10px;
	position: fixed;
	top: 65px;
	width: 100%;
  height: 250px !important;
  display: block !important;
  background-color: black !important;
  z-index: 100 !important;
}

/*End*/

