.videoWrapper{
    position:relative;
    padding-top:56:25%;
    max-width:800px;
    margin:0 auto;
}

.videoWrapperIframe{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
}